<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="AirPortBDCourseWork.Properties.Settings.AirPort2ConnectionString"
            connectionString="Data Source=DESKTOP-IBTODF8;Initial Catalog=AirPort2;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>